/* ===== BOUTON RETOUR FIXE BAS GAUCHE ===== */

.btn-retour{
    position: fixed;
    bottom: 30px;
    left: 30px;

    padding: 10px 18px;
    background: #1e40af;
    color: white;

    text-decoration: none;
    border-radius: 8px;

    font-weight: 500;
    font-size: 14px;

    transition: 0.3s ease;

    z-index: 999;
}

.btn-retour:hover{
    background: #1d4ed8;
}
